{% block content %}
<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% for tag in item.tags.all %}
                        <span class="badge bg-success">{{ tag.name }}</span>
                    {% endfor %}
                </h6>
                <p class="card-text">{{ item.text|truncatechars:10 }}</p>
              </div>
            </div>
        </div>
        {% empty %}
        <h3>Список пуст. Эй, админ, добавь инфы!</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}