{% extends "base/base.html" %}

{% block title %}
    Подробное описание товара
{% endblock %}

{% block content %}
<h1>Подробное описание товара</h1>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{ item.name }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Категория: {{ item.category.name }}</li>
    <li class="list-group-item">Описание: {{ item.text }}</li>
    <li class="list-group-item">
        Теги:
        {% for tag in item.tags.all %}
            <p>
                {{ tag.name }}
            </p>
        {% endfor %}
    </li>
    <li class="list-group-item">
      {% if stars.star__avg %}
        <p>{{ stars.star__avg }} звезд / оценок {{ stars.star__count }}</p>
      {% else %}
        <p>Товар еще никто не оценил</p>
      {% endif %}
    </li>
  </ul>
  {% if request.user.is_authenticated %}
            <div>
                <h4>Выберите свое отношение</h4>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-check">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-sm btn-primary">Обновить</button>
                </form>
            </div>
        {% endif %}
</div>
{% endblock %}